.swiper-button-next,
.swiper-button-prev {
    top: 18% !important;
    color: #16151a;
    font-weight: 700;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
    background-color: #ffff4d;
    padding: 10px 14px;
    border-radius: 100%;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: auto !important;
    right: 55px !important;
}
