.filterContainer {
    background-color: rgba(45, 44, 50, 0.5);
    padding: 32px 0;
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr auto auto;
        gap: 5px 30px;
        label,
        p {
            color: hsla(0, 0%, 100%, 0.5);
        }
        .formItem {
            &:nth-child(1) {
                width: 350px;
            }
            &:nth-child(2) {
                width: 350px;
            }
            &:nth-child(3) {
                width: 160px;
            }
            &:nth-child(4) {
                width: 160px;
            }
            &:nth-child(5) {
                width: 350px;
            }
            .input {
                background-color: transparent !important;
                color: #fff;
            }
            option{
                background-color: red !important;
            }
        }
    }
}
